<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Appender cho console -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- Filter để chỉ ghi log các sự kiện ERROR -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>
				\n%green(🚨 🤖 Oops! 💥Có lỗi TOOO ĐÙNGGGG rồi nè:) %red(%ex{0})\n
			</pattern>
		</encoder>
	</appender>

	<!-- Cấu hình root logger -->
	<root level="ERROR">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>