<!-- fragments/script.html -->
<div th:fragment="script">
  <!-- Core dependencies -->
  <script th:src="@{/assets/vendor/doc-viewer/include/jquery_ui/jquery-ui.min.js}"></script>
  <script th:src="@{/assets/css/maps/bootstrap/bootstrap.bundle.min.css.map}"></script>
  <script th:src="@{/assets/js/core/libs.min.js}"></script>

  <!-- Sidebar & Custom behaviors -->
  <script th:src="@{/assets/js/sidebar.js}"></script>
  <script th:src="@{/assets/js/custom.js}"></script>
  <script th:src="@{/assets/js/kivicare.js}"></script>

  <!-- Plugins -->
  <script th:src="@{/assets/js/plugins/flatpickr.js}"></script>
  <script th:src="@{/assets/js/plugins/select2.js}"></script>
  <script th:src="@{/assets/js/plugins/sweet-alert.js}"></script>

  <!-- Dashboard only -->
  <script th:src="@{/assets/js/plugins/apexcharts.js}"></script>
  <script th:src="@{/assets/js/charts/dashboard.js}"></script>

  <!-- Layout settings -->
  <script th:src="@{/assets/js/iqonic-script/setting.min.js}"></script>
</div>
