<div class="iq-sidebar" id="sidebar-scrollbar" th:fragment="sidebar">
    <nav class="iq-sidebar-menu">
        <ul id="iq-sidebar-toggle" class="iq-menu">
            <li>
                <a th:href="@{/admin/finance/dashboard}" class="iq-waves-effect">
                    <i class="ri-dashboard-line"></i><span>Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/finance/payments}" class="iq-waves-effect">
                    <i class="ri-wallet-3-line"></i><span>Payments</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/finance/expenses}" class="iq-waves-effect">
                    <i class="ri-hand-coin-line"></i><span>Expenses</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/finance/top-products}" class="iq-waves-effect">
                    <i class="ri-bar-chart-2-line"></i><span>Top Products</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/finance/low-stock}" class="iq-waves-effect">
                    <i class="ri-alert-line"></i><span>Low Stock</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
