<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="header">
    <div class="header-right">
        <div class="user-info">
            <span th:text="${doctorName}">Dr. Smith</span>
            <img src="https://www.bing.com/images/search?view=detailV2&ccid=t5WTJtiL&id=9430058A8A2EF6E7B576E02D1BB70471A28075CD&thid=OIP.t5WTJtiLolhtnQVFXrI3OAHaE2&mediaurl=https%3a%2f%2fmedia.istockphoto.com%2fphotos%2ffriendly-doctor-at-the-hospital-picture-id511583494%3fk%3d6%26m%3d511583494%26s%3d612x612%26w%3d0%26h%3d-8azV9sjiTx9dPBAIxy0I9g15pUVs4gTVT7gGsjx9J4%3d&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.b7959326d88ba2586d9d05455eb23738%3frik%3dzXWAonEEtxst4A%26pid%3dImgRaw%26r%3d0&exph=401&expw=612&q=doctor&simid=608008628255225462&FORM=IRPRST&ck=054A4DFC1E76FBA805B76E0443A00C68&selectedIndex=16&itb=0" alt="Doctor Avatar">
        </div>
        <div class="logout">
            <a th:href="@{/logout}">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
    </div>
</div>
</body>
</html>