<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <nav>
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li class="active"><a href="/doctor"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a th:href="@{/doctor/appointments}"><i class="fa-solid fa-calendar-check"></i> Appointments</a></li>
                <li><a href="/doctor"><i class="fa-solid fa-vial"></i> Result Test</a></li>
                <li><a href="/doctor"><i class="fa-solid fa-comment-medical"></i> Conclusion</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>