<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer">
    <div class="footer-bottom bg-primary-subtle border-top text-body">
        <div class="container py-4">
            <div class="text-center ">
                <p class="mb-0">©
                    <script>document.write(new Date().getFullYear());</script>
                    KiviCare Bảo lưu mọi quyền.
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>