<!doctype html>
<html class="theme-fs-sm" data-bs-theme="light" data-bs-theme-color="default" dir="ltr" lang="vi"
      layout:decorate="~{/dashboard/layouts/main-layout}"
      th:with="breadCrumbTitle = ${'Danh sách bệnh nhân'}, navItem= ${'patient'}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Danh sách bệnh nhân</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <form id="filter" th:object="${patientDTO}">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label" for="fullName">Họ và tên</label>
                        <input class="form-control" id="fullName" placeholder="Nhập họ và tên"
                               th:field="*{fullName}" type="text">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" placeholder="Nhập email"
                               th:field="*{email}" type="email">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="phoneNumber">Số điện thoại</label>
                        <input class="form-control" id="phoneNumber" placeholder="Nhập số điện thoại"
                               th:field="*{phoneNumber}" type="text">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label" for="address">Địa chỉ</label>
                        <input class="form-control" id="address" placeholder="Nhập địa chỉ"
                               th:field="*{address}" type="text">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="birthdate">Ngày sinh</label>
                        <input class="form-control" id="birthdate" placeholder="Chọn ngày sinh"
                               th:field="*{dateOfBirth}" type="date">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="gender">Giới tính</label>
                        <select class="form-select" id="gender" th:field="*{gender}">
                            <option value="">Tất cả</option>
                            <option value="MALE">Nam</option>
                            <option value="FEMALE">Nữ</option>
                            <option value="OTHER">Khác</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label" for="sortField">Sắp xếp theo</label>
                        <select class="form-select" id="sortField" name="sortFieldName">
                            <option value="">Không sắp xếp</option>
                            <option value="fullName">Họ và tên</option>
                            <option value="email">Email</option>
                            <option value="phoneNumber">Số điện thoại</option>
                            <option value="dateOfBirth">Ngày sinh</option>
                            <option value="gender">Giới tính</option>
                            <option value="address">Địa chỉ</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="sortOrder">Thứ tự</label>
                        <select class="form-select" id="sortOrder" name="sortDirection">
                            <option value="ASC">Tăng dần</option>
                            <option value="DESC">Giảm dần</option>
                        </select>
                    </div>
                    <div class="col-4 d-flex align-items-end justify-content-center text-end">
                        <button class="btn btn-outline-secondary me-2" type="reset">
                            <i class="fas fa-undo me-1"></i> Đặt lại
                        </button>
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search me-1"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
            <button aria-controls="addForm" class="btn btn-primary "
                    data-bs-target="#addForm"
                    data-bs-toggle="offcanvas" type="button">
         <span class="btn-inner">
            <span class="text d-inline-block align-middle">Thêm bệnh nhân</span>
            <span class="icon d-inline-block align-middle ms-1 ps-2">
               <svg fill="none" height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg">
                  <path
                          d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                          fill="currentColor"/>
               </svg>
            </span>
         </span>
            </button>
        </div>
        <div class="card-body pt-0">
            <div class="table-responsive">
                <table class="table border-end border-start align-middle mb-0 rounded">
                    <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Tên bệnh nhân</th>
                        <th>Ngày sinh</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Giới tính</th>
                        <th>Nhóm máu</th>
                        <th>Địa chỉ</th>
                        <th>Mối quan hệ</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody id="list"></tbody>
                </table>
            </div>
        </div>
        <div id="pagination"></div>
    </div>

    <form aria-labelledby="editFormLabel" class="offcanvas offcanvas-end" id="editForm" tabindex="-1"
          th:object="${patientDTO}">
        <div class="offcanvas-header border-bottom">
            <h3 class="offcanvas-title" id="editFormLabel">Sửa bệnh nhân</h3>
            <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    type="button"></button>
        </div>
        <div class="offcanvas-body">
            <input name="id" type="hidden"/>
            <div class="form-group">
                <label class="form-label" for="edit_email">Email <span class="text-danger">*</span></label>
                <input class="form-control" id="edit_email" placeholder="Nhập email" required th:field="*{email}"
                       type="email">
            </div>
            <div class="form-group">
                <label class="form-label" for="edit_phoneNumber">Số điện thoại <span
                        class="text-danger">*</span></label>
                <input class="form-control" id="edit_phoneNumber" placeholder="Nhập số điện thoại"
                       required
                       th:field="*{phoneNumber}" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="edit_patientEntityFullName">Họ và tên <span
                        class="text-danger">*</span></label>
                <input class="form-control" id="edit_patientEntityFullName" placeholder="Nhập họ và tên"
                       required
                       th:field="*{fullName}" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="edit_patientEntityAddress">Địa chỉ <span
                        class="text-danger">*</span></label>
                <input class="form-control" id="edit_patientEntityAddress" placeholder="Nhập địa chỉ"
                       required
                       th:field="*{address}" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="edit_patientEntityBirthdate">Ngày sinh <span
                        class="text-danger">*</span></label>
                <input class="form-control" id="edit_patientEntityBirthdate" required th:field="*{dateOfBirth}"
                       th:max="${#dates.createNow()}"
                       type="date">
            </div>
            <div class="form-group">
                <label class="form-label" for="edit_patientEntityGender">Giới tính <span
                        class="text-danger">*</span></label>
                <select class="form-select" id="edit_patientEntityGender" required th:field="*{gender}">
                    <option disabled value="">Chọn giới tính</option>
                    <option value="MALE">Nam</option>
                    <option selected value="FEMALE">Nữ</option>
                    <option value="OTHER">Khác</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="edit_patientEntityFamilyRelationship">Mối quan hệ <span
                        class="text-danger">*</span></label>
                <select class="form-select" id="edit_patientEntityFamilyRelationship"
                        required th:field="*{familyRelationship}">
                    <option disabled value="">Chọn mối quan hệ</option>
                    <option value="SELF">Bản thân</option>
                    <option value="FATHER">Bố</option>
                    <option value="MOTHER">Mẹ</option>
                    <option value="HUSBAND">Chồng</option>
                    <option value="BROTHER">Anh/Em trai</option>
                    <option value="SISTER">Chị/Em gái</option>
                    <option value="WIFE">Vợ</option>
                    <option value="SON">Con trai</option>
                    <option value="DAUGHTER">Con gái</option>
                    <option value="GRAND_FATHER">Ông</option>
                    <option value="GRAND_MOTHER">Bà</option>
                    <option value="COUSIN">Anh/Chị/Em họ</option>
                    <option value="AUNT">Cô/Dì/Bác gái</option>
                    <option value="UNCLE">Chú/Bác trai</option>
                    <option value="OTHER">Khác</option>
                </select>
            </div>
        </div>
        <div class="offcanvas-footer border-top">
            <div class="d-grid d-md-flex gap-3 p-3">
                <button class="btn btn-primary d-block" type="submit">
            <span class="btn-inner">
                <span class="text d-inline-block align-middle">Cập nhật</span>
                <span class="icon d-inline-block align-middle ms-1 ps-2">
                    <svg fill="none" height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                              fill="currentColor"/>
                    </svg>
                </span>
            </span>
                </button>
                <button class="btn btn-secondary d-block" data-bs-dismiss="offcanvas" type="button">
            <span class="btn-inner">
                <span class="text d-inline-block align-middle">Đóng</span>
                <span class="icon d-inline-block align-middle ms-1 ps-2">
                    <svg fill="none" height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                              fill="currentColor"/>
                    </svg>
                </span>
            </span>
                </button>
            </div>
        </div>
    </form>

    <form aria-labelledby="addFormLabel" class="offcanvas offcanvas-end" id="addForm" tabindex="-1"
          th:object="${patientDTO}">
        <div class="offcanvas-header border-bottom">
            <h3 class="offcanvas-title" id="addFormLabel">Thêm bệnh nhân</h3>
            <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    type="button"></button>
        </div>
        <div class="offcanvas-body">
            <div class="form-group">
                <label class="form-label" for="add_email">Email <span class="text-danger">*</span></label>
                <input class="form-control" id="add_email" placeholder="Nhập email" required th:field="*{email}"
                       type="email">
            </div>
            <div class="form-group">
                <label class="form-label" for="add_phoneNumber">Số điện thoại <span class="text-danger">*</span></label>
                <input class="form-control" id="add_phoneNumber" placeholder="Nhập số điện thoại"
                       required
                       th:field="*{phoneNumber}" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="add_patientEntityFullName">Họ và tên <span
                        class="text-danger">*</span></label>
                <input class="form-control" id="add_patientEntityFullName" placeholder="Nhập họ và tên"
                       required
                       th:field="*{fullName}" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="add_patientEntityAddress">Địa chỉ <span
                        class="text-danger">*</span></label>
                <input class="form-control" id="add_patientEntityAddress" placeholder="Nhập địa chỉ"
                       required
                       th:field="*{address}" type="text">
            </div>
            <div class="form-group">
                <label class="form-label" for="add_patientEntityBirthdate">Ngày sinh <span
                        class="text-danger">*</span></label>
                <input class="form-control" id="add_patientEntityBirthdate" required
                       th:field="*{dateOfBirth}"
                       th:max="${#dates.createNow()}" type="date">
            </div>
            <div class="form-group">
                <label class="form-label" for="add_patientEntityGender">Giới tính <span
                        class="text-danger">*</span></label>
                <select class="form-select" id="add_patientEntityGender" required th:field="*{gender}">
                    <option disabled selected value="">Chọn giới tính</option>
                    <option value="MALE">Nam</option>
                    <option value="FEMALE">Nữ</option>
                    <option value="OTHER">Khác</option>
                </select>
            </div>
        </div>
        <div class="offcanvas-footer border-top">
            <div class="d-grid d-md-flex gap-3 p-3">
                <button class="btn btn-primary d-block" type="submit">
            <span class="btn-inner">
                <span class="text d-inline-block align-middle">Tạo</span>
                <span class="icon d-inline-block align-middle ms-1 ps-2">
                    <svg fill="none" height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                              fill="currentColor"/>
                    </svg>
                </span>
            </span>
                </button>
                <button class="btn btn-secondary d-block" data-bs-dismiss="offcanvas" type="button">
            <span class="btn-inner">
                <span class="text d-inline-block align-middle">Đóng</span>
                <span class="icon d-inline-block align-middle ms-1 ps-2">
                    <svg fill="none" height="8" viewBox="0 0 8 8" width="8" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                              fill="currentColor"/>
                    </svg>
                </span>
            </span>
                </button>
            </div>
        </div>
    </form>
</th:block>
<th:block layout:fragment="custom-js">
    <script type="module">
        import {
            PatientResponse, renderPatientResponseForAdmin
        } from "/templates/shared/assets/js/model/response/PatientResponse.js";
        import {CrudUtils} from "/templates/shared/assets/js/utils/crud-utils.js";

        document.addEventListener("DOMContentLoaded", () => {
            const crudUtils = new CrudUtils({
                apiUrl: "/api/admin/patient",
                responseClass: PatientResponse,
                renderStrategy: renderPatientResponseForAdmin
            });
            crudUtils.init();
        });
    </script>
</th:block>
</body>
</html>
