<!doctype html>
<html layout:decorate="~{/frontend/layouts/main-layout}"
      th:with="
        breadCrumbTitle = ${'Đặt lịch hẹn'},
        breadCrumbTexts = ${{{'Đặt lịch hẹn'}}},
        breadCrumbLinks = ${{{''}}}
"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <title>Đặt lịch hẹn</title>
    <th:block layout:fragment="custom-css">
        <style>
            /* Add this to your CSS file or in a style tag */
            .time-slot > button {
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                margin: 5px;
                cursor: pointer;
                background-color: #f8f9fa;
                transition: all 0.3s ease;
            }

            .time-slot:hover > button {
                background-color: #EEEEEE !important;
            }

            .time-slot > input:checked + button {
                background-color: #0d6efd !important;
                color: white !important;
                border-color: #0a58ca;
                box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
            }
        </style>
    </th:block>
</head>

<body>
<main class="main-content">
    <div class="section-padding" layout:fragment="content">
        <div class="row">
            <div class="col-xl-2 col-lg-1 d-none d-lg-block"></div>
            <div class="col-xl-8 col-lg-10">
                <div class="appointment-tab-form p-3 bg-white box-shadow">
                    <div class="row g-3">
                        <div class="col-lg-4">
                            <ul class="bg-primary p-4 list-inline m-0 d-flex justify-content-lg-between justify-content-center h-100 flex-lg-column"
                                id="appointment-tab-list">
                                <li class="active mb-lg-3 me-lg-0 me-sm-3 me-2">
                                    <a class="d-inline-block" href="javascript:void(0);">
                                        <span class="d-flex gap-3">
                                            <span class="tab-position text-center pe-lg-0 pe-sm-4 pe-3">
                                                <span class="d-inline-block active-circle"></span>
                                            </span>
                                            <span class="tab-content d-lg-block d-none">
                                                <span class="tab-title d-block mb-1">
                                                    Chọn Bệnh viện
                                                </span>
                                                <span class="tab-desc">
                                                    Vui lòng chọn Bệnh viện bạn muốn đến
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="mb-lg-3 me-lg-0 me-sm-3 me-2">
                                    <a class="d-inline-block" href="javascript:void(0);">
                                        <span class="d-flex gap-3">
                                            <span class="tab-position text-center pe-lg-0 pe-sm-4 pe-3">
                                                <span class="d-inline-block active-circle"> </span>
                                            </span>
                                            <span class="tab-content d-lg-block d-none">
                                                <span class="tab-title d-block mb-1">Chọn chuyên khoa</span>
                                                <span class="tab-desc">
                                                    Vui lòng chọn chuyên khoa bạn muốn đến
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="mb-lg-3 me-lg-0 me-sm-3 me-2">
                                    <a class="d-inline-block" href="javascript:void(0);">
                                            <span class="d-flex gap-3">
                                                <span class="tab-position text-center pe-lg-0 pe-sm-4 pe-3">
                                                    <span class="d-inline-block active-circle"></span>
                                                </span>
                                                <span class="tab-content d-lg-block d-none">
                                                    <span class="tab-title d-block mb-1">
                                                        Chọn Bác sĩ
                                                    </span>
                                                    <span class="tab-desc">
                                                        Chọn một Bác sĩ cụ thể để thực hiện dịch vụ của bạn
                                                    </span>
                                                </span>
                                            </span>
                                    </a>
                                </li>
                                <li class="mb-lg-3 me-lg-0 me-sm-3 me-2">
                                    <a class="d-inline-block" href="javascript:void(0);">
                                        <span class="d-flex gap-3">
                                            <span class="tab-position text-center pe-lg-0 pe-sm-4 pe-3">
                                                <span class="d-inline-block active-circle"> </span>
                                            </span>
                                            <span class="tab-content d-lg-block d-none">
                                                <span class="tab-title d-block mb-1">
                                                    Dịch vụ của Bác sĩ
                                                </span>
                                                <span class="tab-desc">
                                                    Vui lòng chọn dịch vụ mà Bác sĩ cung cấp
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="mb-lg-3 me-lg-0 me-sm-3 me-2">
                                    <a class="d-inline-block" href="javascript:void(0);">
                                        <span class="d-flex gap-3">
                                            <span class="tab-position text-center pe-lg-0 pe-sm-4 pe-3">
                                                <span class="d-inline-block active-circle"> </span>
                                            </span>
                                            <span class="tab-content d-lg-block d-none">
                                                <span class="tab-title d-block mb-1">
                                                    Chọn hồ sơ
                                                </span>
                                                <span class="tab-desc">
                                                    Vui lòng chọn một hồ sơ để đặt lịch hẹn
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="mb-lg-3 me-lg-0 me-sm-3 me-2">
                                    <a class="d-inline-block" href="javascript:void(0);">
                                        <span class="d-flex gap-3">
                                            <span class="tab-position text-center pe-lg-0 pe-sm-4 pe-3">
                                                <span class="d-inline-block active-circle"></span>
                                            </span>
                                            <span class="tab-content d-lg-block d-none">
                                                <span class="tab-title d-block mb-1">
                                                    Chọn Ngày và Giờ
                                                </span>
                                                <span class="tab-desc">
                                                    Chọn ngày và giờ phù hợp với bạn
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-inline-block" href="javascript:void(0);">
                                        <span class="d-flex gap-3">
                                            <span class="tab-position text-center">
                                                <span class="d-inline-block active-circle"></span>
                                            </span>
                                            <span class="tab-content d-lg-block d-none">
                                                <span class="tab-title d-block mb-1">
                                                    Xác nhận
                                                </span>
                                                <span class="tab-desc">
                                                    Xác nhận thông tin đặt lịch hẹn của bạn
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-8 mt-lg-3 mt-5">
                            <div class="border h-100 position-relative">
                                <div class="appointment-content-active h-100">
                                    <div class="tab-widget-inner h-100">
                                        <div
                                                class="d-flex align-items-center justify-content-between flex-wrap gap-3 py-3 mx-3 border-bottom">
                                            <h5 class="mb-0 flex-shrink-0">
                                                Chọn Bệnh viện
                                            </h5>
                                            <div class="d-inline-block">
                                                <div class="form-group input-group mb-0 search-input me-3">
                                                    <input class="form-control" id="hospital-search-input"
                                                           placeholder="Tìm kiếm ..."
                                                           type="text">
                                                    <button class="btn btn-primary" id="hospital-search-button">
                                                        <span class="btn-inner">
                                                            <svg class="icon-20" fill="none" height="20"
                                                                 viewBox="0 0 24 24" width="20"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="11.7669" cy="11.7666" r="8.98856"
                                                                        stroke="currentColor" stroke-linecap="round"
                                                                        stroke-linejoin="round" stroke-width="1.5">
                                                                </circle>
                                                                <path d="M18.0186 18.4851L21.5426 22"
                                                                      stroke="currentColor" stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="1.5">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-widget-inner-data pt-5 pb-3 px-3">
                                            <div class="row" id="hospital-list">
                                            </div>
                                            <div id="hospital-pagination"></div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-end px-3 mb-3 mt-3">
                                            <button class="bg-primary iq-button text-capitalize next"
                                                    id="hospital-next-button"
                                                    name="next" type="button" value="Next">
                                                <span class="iq-btn-text-holder position-relative">Tiếp theo</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-tab-content h-100 appointment-content-active">
                                    <div class="tab-widget-inner h-100">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap gap-3 py-3 mx-3 border-bottom">
                                            <h5 class="mb-0 flex-shrink-0">
                                                Chọn Chuyên khoa
                                            </h5>
                                            <div class="d-inline-block">
                                                <div class="form-group input-group mb-0 search-input me-3">
                                                    <input class="form-control" id="department-search-input"
                                                           placeholder="Tìm kiếm ..."
                                                           type="text">
                                                    <button class="btn btn-primary" id="department-search-button">
                                                        <span class="btn-inner">
                                                            <svg class="icon-20" fill="none" height="20"
                                                                 viewBox="0 0 24 24"
                                                                 width="20"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="11.7669" cy="11.7666" r="8.98856"
                                                                        stroke="currentColor"
                                                                        stroke-linecap="round" stroke-linejoin="round"
                                                                        stroke-width="1.5"></circle>
                                                                <path d="M18.0186 18.4851L21.5426 22"
                                                                      stroke="currentColor"
                                                                      stroke-linecap="round" stroke-linejoin="round"
                                                                      stroke-width="1.5"></path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-widget-inner-data pt-5 pb-3 px-3">
                                            <div class="row" id="department-list"></div>
                                            <div id="department-pagination"></div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-end px-3 mb-3 mt-3 gap-3">
                                            <button class="iq-button text-capitalize back"
                                                    id="department-previous-button" name="Previous"
                                                    type="button" value="Previous">
                                                <span class="iq-btn-text-holder position-relative">Về trước</span>
                                                <span class="iq-btn-icon-holder">
                                                    <svg fill="none" height="10" viewBox="0 0 8 8"
                                                         width="10" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                            </button>
                                            <button class="bg-primary iq-button text-capitalize next"
                                                    id="department-next-button"
                                                    name="next" type="button"
                                                    value="Next">
                                                <span class="iq-btn-text-holder position-relative">Tiếp theo</span>
                                                <span class="iq-btn-icon-holder">
                                                    <svg fill="none" height="10" viewBox="0 0 8 8"
                                                         width="10" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                              fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-tab-content h-100 appointment-content-active">
                                    <div class="tab-widget-inner h-100">
                                        <div
                                                class="d-flex align-items-center justify-content-between flex-wrap gap-3 py-3 mx-3 border-bottom">
                                            <h5 class="mb-0 flex-shrink-0">
                                                Chọn Bác sĩ
                                            </h5>
                                            <div class="d-inline-block">
                                                <div class="form-group input-group mb-0 search-input me-3">
                                                    <input class="form-control" id="doctor-search-input"
                                                           placeholder="Tìm kiếm ..."
                                                           type="text">
                                                    <button class="btn btn-primary" id="doctor-search-button">
                                                        <span class="btn-inner">
                                                            <svg class="icon-20" fill="none" height="20"
                                                                 viewBox="0 0 24 24" width="20"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="11.7669" cy="11.7666" r="8.98856"
                                                                        stroke="currentColor" stroke-linecap="round"
                                                                        stroke-linejoin="round" stroke-width="1.5">
                                                                </circle>
                                                                <path d="M18.0186 18.4851L21.5426 22"
                                                                      stroke="currentColor" stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="1.5">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-widget-inner-data pt-5 pb-3 px-3">
                                            <div class="row" id="doctor-list"></div>
                                            <div id="doctor-pagination"></div>
                                        </div>
                                        <div
                                                class="d-flex align-items-center justify-content-end px-3 mb-3 mt-3 gap-3">
                                            <button class="iq-button text-capitalize back" id="doctor-previous-button"
                                                    name="Previous" type="button" value="Previous">
                                                <span class="iq-btn-text-holder position-relative">Về trước</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                            <button class="bg-primary iq-button text-capitalize next"
                                                    id="doctor-next-button"
                                                    name="next" type="button" value="Next">
                                                <span class="iq-btn-text-holder position-relative">Tiếp theo</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-tab-content h-100 appointment-content-active">
                                    <div class="tab-widget-inner h-100">
                                        <div
                                                class="d-flex align-items-center justify-content-between flex-wrap gap-3 py-3 mx-3 border-bottom">
                                            <h5 class="mb-0 flex-shrink-0">
                                                Chọn Dịch vụ của Bác sĩ
                                            </h5>
                                            <div class="d-inline-block">
                                                <div class="form-group input-group mb-0 search-input me-3">
                                                    <input class="form-control" id="service-search-input"
                                                           placeholder="Tìm kiếm ..."
                                                           type="text">
                                                    <button class="btn btn-primary" id="service-search-button">
                                                        <span class="btn-inner">
                                                            <svg class="icon-20" fill="none" height="20"
                                                                 viewBox="0 0 24 24" width="20"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="11.7669" cy="11.7666" r="8.98856"
                                                                        stroke="currentColor" stroke-linecap="round"
                                                                        stroke-linejoin="round" stroke-width="1.5">
                                                                </circle>
                                                                <path d="M18.0186 18.4851L21.5426 22"
                                                                      stroke="currentColor" stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="1.5">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-widget-inner-data pt-5 pb-3 px-3">
                                            <div class="row" id="service-list"></div>
                                            <div id="service-pagination"></div>
                                        </div>
                                        <div
                                                class="d-flex align-items-center justify-content-end px-3 mb-3 mt-3 gap-3">
                                            <button class="iq-button text-capitalize back" id="service-previous-button"
                                                    name="Previous" type="button" value="Previous">
                                                <span class="iq-btn-text-holder position-relative">Về trước</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                            <button class="bg-primary iq-button text-capitalize next"
                                                    id="service-next-button"
                                                    name="next" type="button" value="Next">
                                                <span class="iq-btn-text-holder position-relative">Tiếp theo</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-tab-content h-100 appointment-content-active">
                                    <div class="tab-widget-inner h-100">
                                        <div
                                                class="d-flex align-items-center justify-content-between flex-wrap gap-3 py-3 mx-3 border-bottom">
                                            <h5 class="mb-0 flex-shrink-0">
                                                Chọn Hồ sơ
                                            </h5>
                                            <div class="d-inline-block">
                                                <div class="form-group input-group mb-0 search-input me-3">
                                                    <input class="form-control" id="patient-search-input"
                                                           placeholder="Tìm kiếm ..."
                                                           type="text">
                                                    <button class="btn btn-primary" id="patient-search-button">
                                                        <span class="btn-inner">
                                                            <svg class="icon-20" fill="none" height="20"
                                                                 viewBox="0 0 24 24" width="20"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <circle cx="11.7669" cy="11.7666" r="8.98856"
                                                                        stroke="currentColor" stroke-linecap="round"
                                                                        stroke-linejoin="round" stroke-width="1.5">
                                                                </circle>
                                                                <path d="M18.0186 18.4851L21.5426 22"
                                                                      stroke="currentColor" stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="1.5">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-widget-inner-data pt-5 pb-3 px-3">
                                            <div class="row" id="patient-list"></div>
                                            <div id="patient-pagination"></div>
                                        </div>
                                        <div
                                                class="d-flex align-items-center justify-content-end px-3 mb-3 mt-3 gap-3">
                                            <button class="iq-button text-capitalize back" id="patient-previous-button"
                                                    name="Previous" type="button" value="Previous">
                                                <span class="iq-btn-text-holder position-relative">Về trước</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                            <button class="bg-primary iq-button text-capitalize next"
                                                    id="patient-next-button"
                                                    name="next" type="button" value="Next">
                                                <span class="iq-btn-text-holder position-relative">Tiếp theo</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-tab-content h-100 appointment-content-active">
                                    <div class="tab-widget-inner h-100">
                                        <div class="py-5 mx-3 border-bottom">
                                            <h5 class="mb-0">
                                                Chọn Ngày và Giờ
                                            </h5>
                                        </div>
                                        <div class="tab-widget-inner-data pt-5 pb-3 px-3">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group mb-0">
                                                        <input class="d-none inline_flatpickr" id="date-input"
                                                               name="inline" type="hidden">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mt-sm-0 mt-4">
                                                    <div class="p-3 bg-primary-subtle">
                                                        <div class="row gx-3" id="date-time-list"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                                class="d-flex align-items-center justify-content-end px-3 mb-3 mt-3 gap-3">
                                            <button class="iq-button text-capitalize back"
                                                    id="date-time-previous-button"
                                                    name="Previous" type="button" value="Previous">
                                                <span class="iq-btn-text-holder position-relative">Về trước</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                            <button class="bg-primary iq-button text-capitalize next"
                                                    id="date-time-next-button"
                                                    name="next" type="button" value="Next">
                                                <span class="iq-btn-text-holder position-relative">Tiếp theo</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-tab-content h-100 appointment-content-active">
                                    <div class="tab-widget-inner h-100">
                                        <div class="py-3 mx-3 border-bottom">
                                            <h5 class="mb-0">
                                                Xác nhận Chi tiết
                                            </h5>
                                        </div>
                                        <div class="tab-widget-inner-data pt-5 pb-3 px-3">
                                            <div class="row" id="confirmation">
                                                <div class="row"></div>
                                            </div>
                                        </div>
                                        <div
                                                class="d-flex align-items-center justify-content-end px-3 mb-3 mt-3 gap-3">
                                            <button class="iq-button text-capitalize back"
                                                    id="confirmation-previous-button"
                                                    name="Previous" type="button" value="Previous">
                                                <span class="iq-btn-text-holder position-relative">Về trước</span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                            <button class="confirm-button bg-primary iq-button text-capitalize next"
                                                    id="confirm-button"
                                                    name="next" type="button" value="Confirm">
                                                <span class="iq-btn-text-holder position-relative">
                                                    Xác nhận
                                                    </span>
                                                <span class="iq-btn-icon-holder">
                                                        <svg fill="none" height="10" viewBox="0 0 8 8" width="10"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                    d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                    fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="appointment-tab-content h-100 appointment-content-active">
                                    <div class="tab-widget-inner h-100">
                                        <div
                                                class="tab-widget-inner-data py-5 px-3 h-100 d-flex align-items-center justify-content-center">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="text-center">
                                                        <div class="mb-5 text-success">
                                                            <svg class="checkmark-animated" data-v-6b4a22d6=""
                                                                 viewBox="0 0 52 52"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <circle class="checkmark__circle" cx="26" cy="26"
                                                                        data-v-6b4a22d6="" fill="none" r="25"></circle>
                                                                <path class="checkmark__check"
                                                                      d="M14.1 27.2l7.1 7.2 16.7-16.8"
                                                                      data-v-6b4a22d6="" fill="none">
                                                                </path>
                                                            </svg>
                                                        </div>
                                                        <h4>
                                                            Lịch hẹn của bạn đã được đặt thành công!</h4>
                                                        <p>
                                                            Vui lòng kiểm tra email của bạn để xác nhận lịch hẹn.</p>
                                                    </div>
                                                    <div
                                                            class="d-flex align-items-center justify-content-center gap-3 flex-wrap mt-5">
                                                        <a class="bg-primary iq-button text-capitalize"

                                                           th:href="@{/patient/appointment}">
                                                                <span class="iq-btn-text-holder position-relative">
                                                                    Tiếp tục đặt lịch</span>
                                                            <span class="iq-btn-icon-holder">
                                                                    <svg fill="none" height="8" viewBox="0 0 8 8"
                                                                         width="8" xmlns="http://www.w3.org/2000/svg">
                                                                        <path
                                                                                d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                                                                fill="currentColor"></path>
                                                                    </svg>
                                                                </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-1 d-none d-lg-block"></div>
        </div>
    </div>
</main>
<th:block layout:fragment="custom-js">
    <script th:src="@{/frontend/assets/js/appointment.js}" th:type="module"></script>
</th:block>

</body>

</html>