<!doctype html>
<html layout:decorate="~{/frontend/layouts/main-layout}"
      th:with="
       navActive = ${3},
       breadCrumbTitle = ${hospital.name},
        breadCrumbTexts = ${{{hospital.name}}},
        breadCrumbLinks = ${{{''}}}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${hospital.name}"></title>
</head>
<body class=" body-bg landing-pages">
<section layout:fragment="content">
    <div class="container-fluid position-relative">
        <div class="banner-dentist-page">
            <div class="container-fluid position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="iq-title-box">
                            <div class="no-sub-title big-font">
                                <div class="iq-title-box">
                                    <span class="iq-subtitle text-uppercase"></span>
                                    <h2 class="iq-title iq-heading-title">
                                        <span class="right-text text-capitalize fw-500">Chào mừng đến với</span>
                                        <span class="left-text text-capitalize fw-light"
                                              th:text="${hospital.name}"></span>
                                    </h2>
                                    <p class="iq-title-desc text-body mt-3 mb-0">
                                        <i class="fas fa-envelope text-primary me-1"></i>
                                        Liên hệ với chúng tôi qua email:
                                        <a th:href="@{mailto:${hospital.email}}" th:text="${hospital.email}">contact@abchospital.com</a>
                                        <br>
                                        <i class="fas fa-calendar-check text-success me-1"></i>
                                        Hoặc đặt lịch ở bên dưới
                                    </p>
                                </div>
                            </div>
                            <div class="padding-top-60">
                                <div class="iq-btn-container">
                                    <a class="iq-button text-capitalize" th:href="@{/patient/appointment}">
                                        <span class="iq-btn-text-holder position-relative">Đặt lịch ngay</span>
                                        <span class="iq-btn-icon-holder">
                           <svg fill="none" height="10" viewBox="0 0 8 8" width="10" xmlns="http://www.w3.org/2000/svg">
                              <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                    fill="currentColor"></path>
                           </svg>
                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div>
                            <img alt="" class="img-fluid rtl-image-flip"
                                 th:src="@{${hospital.avatarUrl}}">
                        </div>
                    </div>
                </div>
                <div class="icon-box-right position-absolute">
                    <div class="iq-icon-box column d-flex align-items-center gap-2">
                        <div class="icon-box-img">
                            <img alt="icon" class="img-fluid"
                                 loading="lazy"
                                 th:src="@{/frontend/assets/images/Dentist-Page/dentist-banner-phone.webp}">
                        </div>
                        <div class="icon-box-content">
                            <h5 class="icon-box-title">24 Hours Service</h5>
                            <p class="icon-box-desc mb-0" th:text="${hospital.phoneNumber}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-dentist section-padding position-relative ">
        <div class="container position-relative title-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="scrolling-text position-absolute">
                        <div class="iq-title text-uppercase">Dịch vụ
                            <br>
                            <br>
                            của chúng tôi
                        </div>
                    </div>
                    <div class="iq-title-box">
                        <span class="iq-subtitle text-uppercase">Dịch vụ</span>
                        <h2 class="iq-title iq-heading-title">
                            <span class="right-text text-capitalize fw-500">Chúng tôi cung cấp</span>
                            <span class="left-text text-capitalize fw-light">Những dịch vụ</span>
                        </h2>
                        <p class="iq-title-desc text-body mt-3 mb-0">Bên dưới là những dịch vụ hàng đầu của chúng
                            tôi.</p>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-block d-none"></div>
            </div>
            <div class="card">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 border" th:each="service : ${services}">
                            <div class="no-img-bg box-padding p-0 p-lg-5 p-md-5">
                                <div class="iq-icon-box transprent iconbox-has-border">
                                    <div class="iq-img-area pulse-shrink-on-hover d-inline-block">
                                        <img
                                                alt="icon"
                                                class="img-fluid"
                                                loading="lazy"
                                                th:src="@{${service.productEntity.imageUrl}}"
                                        />
                                    </div>
                                    <div class="icon-box-content mt-5">
                                        <h4 class="mb-2" th:text="${service.productEntity.name}"></h4>
                                        <p class="text-body m-0" th:text="${service.productEntity.description}"></p>
                                        <div class="iconbox-button mt-3 mt-lg-5">
                                            <div class="iq-btn-container">
                                                <a
                                                        class="iq-button iq-btn-link text-capitalize"
                                                        th:href="@{${'/service/detail/' + service.id}}"
                                                >
                                                    Xem chi tiết
                                                    <span class="btn-link-icon">
                                     <svg
                                             fill="none"
                                             height="10"
                                             viewBox="0 0 8 8"
                                             width="10"
                                             xmlns="http://www.w3.org/2000/svg"
                                     >
                                       <path
                                               d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z"
                                               fill="currentColor"
                                       ></path>
                                     </svg>
                                   </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-section section-padding">
        <div class="container">
            <div class="text-center position-relative">
                <div class="scrolling-text position-absolute">
                    <div class="iq-title text-uppercase">Bác sĩ
                        <br>
                        <br>
                        của chúng tôi
                    </div>
                </div>
                <div class="iq-title-box">
                    <span class="iq-subtitle text-uppercase">Danh sách bác sĩ</span>
                    <h2 class="iq-title iq-heading-title">
                        <span class="right-text text-capitalize fw-500">Những bác sĩ</span>
                        <span class="left-text text-capitalize fw-light">Hàng đầu</span>
                    </h2>
                    <p class="iq-title-desc text-body mt-3 mb-0">

                    </p>
                </div>
            </div>
            <div class="position-relative overflow-hidden swiper swiper-general" data-autoplay="true" data-laptop="3"
                 data-loop="true" data-mobile="1" data-mobile-sm="1" data-navigation="true" data-pagination="true"
                 data-slide="3" data-tab="2">
                <ul class="p-0 m-0 mb-5 swiper-wrapper list-inline">
                    <li class="swiper-slide" th:each="doctor : ${doctors}">
                        <div class="iq-team-block team-overdetail team-standard position-relative">
                            <div class="iq-team-img">
                                <div th:replace="~{/frontend/fragments/doctor/rating :: rating(averageRating=${doctor.staffEntity.averageRating}, reviewCount=${doctor.staffEntity.reviewCount})}"></div>
                                <img alt="team" class="img-fluid w-100" loading="lazy"
                                     th:src="@{${doctor.staffEntity.avatarUrl}}">
                            </div>
                            <div class="iq-team-info text-center pt-5 px-3 pb-3 letter-spacing-1">
                                <a th:href="@{${'/doctor/detail/' + doctor.id}}">
                                    <h5 class="mb-2 iq-team-title" th:text="${doctor.staffEntity.fullName}"></h5>
                                </a>
                                <p class="mb-0 mt-1 text-uppercase fw-500 letter-spacing-2"
                                   th:text="${doctor.staffEntity.departmentEntity.name}"></p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
