<!doctype html>
<html layout:decorate="~{/frontend/layouts/main-layout}"
      th:with="
        navActive = ${7},
        breadCrumbTitle = ${'Chi tiết sản phẩm '},
        breadCrumbTexts = ${{{'Chi tiết sản phẩm'}}},
        breadCrumbLinks = ${{{''}}}
"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
   <title>Chi tiết sản phẩm</title>
   <th:block layout:fragment="custom-css">
      <style>
         /* highlight chosen category */
         .active-cat > a,
         .active-cat .archiveCount {
            color: #f10a38 !important;
         }
      </style>
   </th:block>
</head>
  <body class=" body-bg landing-pages">
    <span class="screen-darken"></span>
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
              <img src="/frontend/assets/images/loader.gif" alt="loader" class="light-loader img-fluid " width="200">
          </div>
      </div>    </div>
    <!-- loader END -->
    <main class="main-content" layout:fragment="content">
        <div th:fragment="content">
            <div class="section-padding product-detail">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="position-relative">
                                <a data-fslightbox="product" href="/frontend/assets/images/shop/product-3.webp">
                                    <img src="/frontend/assets/images/shop/product-3.webp" class="img-fluid"
                                         alt="product-image" loading="lazy" th:src="@{${product.imageUrl}}">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-lg-0 mt-5">
                            <h3 th:text="${product.name}">Hand Sanitizer Bottle</h3>
                            <div class="mt-2">
                                <div class="ratting">
                                    <div th:if="${averageRating != null and averageRating > 0}">
                                        <th:block
                                                th:each="i : ${#numbers.sequence(1, averageRating)}">
                                            <svg class="icon-20"
                                                 fill="none" viewBox="0 0 24 24"
                                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                                <path clip-rule="evenodd"
                                                      d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                      fill="#FFD329"
                                                      fill-rule="evenodd"/>
                                            </svg>
                                        </th:block>
                                    </div>
                                    <div th:if="${averageRating == null or averageRating == 0}">
                                        <span>Chưa có đánh giá</span>
                                    </div>

                                </div>            </div>
                            <h4 class="price mt-3 mb-0" th:text="${product.price}+'₫'">$90.00</h4>
                            <h5 class="price mt-3 mb-0" th:text="'Tồn kho: '+ ${product.stockQuantities}"></h5>
                            <div class="add-product-wrapper mt-5 pb-5 mb-5 border-bottom">
                                <ul class="list-inline m-0 p-0 d-flex align-items-center gap-5 flex-wrap">
                                    <li>
                                        <div class="btn-group iq-qty-btn" data-qty="btn" role="group">
                                            <button type="button" class="btn btn-sm btn-outline-light px-0 py-3 iq-quantity-minus text-dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="3" viewBox="0 0 6 3"
                                                     fill="none">
                                                    <path d="M5.22727 0.886364H0.136364V2.13636H5.22727V0.886364Z"
                                                          fill="currentColor"></path>
                                                </svg>
                                            </button>
                                            <input type="text" class="btn btn-sm btn-outline-light px-0 py-3 input-display w-25"
                                                   data-qty="input" pattern="^(0|[1-9][0-9]*)$" minlength="1" maxlength="2" value="2"
                                                   title="Qty">
                                            <button type="button" class="btn btn-sm btn-outline-light px-0 py-3 iq-quantity-plus text-dark">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8"
                                                     fill="none">
                                                    <path
                                                            d="M3.63636 7.70455H4.90909V4.59091H8.02273V3.31818H4.90909V0.204545H3.63636V3.31818H0.522727V4.59091H3.63636V7.70455Z"
                                                            fill="currentColor"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </li>
                                    <li class="wish-list">
                                        <a href="#" class="d-inline-block p-3 bg-primary-subtle wishlist-btn">
                        <span class="btn-inner">
                           <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20"
                                fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.87187 9.59832C0.798865 6.24832 2.05287 2.41932 5.56986 1.28632C7.41986 0.689322 9.46186 1.04132 10.9999 2.19832C12.4549 1.07332 14.5719 0.693322 16.4199 1.28632C19.9369 2.41932 21.1989 6.24832 20.1269 9.59832C18.4569 14.9083 10.9999 18.9983 10.9999 18.9983C10.9999 18.9983 3.59787 14.9703 1.87187 9.59832Z"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                              <path d="M15 4.70001C16.07 5.04601 16.826 6.00101 16.917 7.12201"
                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                           </svg>
                        </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="iq-btn-container">
                                            <form th:action="@{/cart/add}" method="post">
                                                <input type="hidden" name="productId" th:value="${product.id}" />
                                                <input type="hidden" name="quantity" value="1" />
                                                <button type="submit" class="iq-button text-capitalize">
                                                    <span class="iq-btn-text-holder position-relative">Thêm vào Giỏ Hàng</span>
                                                    <span class="iq-btn-icon-holder">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8" fill="none">
                    <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor"></path>
                </svg>
            </span>
                                                </button>
                                            </form>
                                        </div>                  </li>
                                </ul>
                            </div>
                            <div class="product-meta-wrapper">
                                <ul class="list-inline m-0 p-0">
                                    <li class="mb-2">
                                        <span>SKU :</span>
                                        <h6 class="d-inline">kivicare-product</h6>
                                    </li>
                                    <li class="mb-2">
                                        <span>Loại :</span>
                                        <h6 class="d-inline" th:text="${categoriesString}">Health Care, Physical</h6>
                                    </li>
                                    <li>
                                        <span>Nhãn :</span>
                                        <h6 class="d-inline" th:text="${tagsString}">#treatment, #medicine</h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section-padding-top px-0">
                        <div class="product-detail-tabs">
                            <ul class="nav nav-tabs justify-content-center gap-5 mb-5 border-bottom list-inline" id="product-tab"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a href="javascript:void(0)" class="nav-link active bg-transparent px-0 py-2 letter-spacing-2 fs-5 rounded-0"
                                       data-bs-toggle="tab" data-bs-target="#description" role="tab" aria-selected="true">Mô tả</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="javascript:void(0)" class="nav-link bg-transparent px-0 py-2 letter-spacing-2 fs-5 rounded-0"
                                       data-bs-toggle="tab" data-bs-target="#additional-information" role="tab" aria-selected="false">Thông tin chi tiết</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a href="javascript:void(0)" class="nav-link bg-transparent px-0 py-2 letter-spacing-2 fs-5 rounded-0"
                                       data-bs-toggle="tab" data-bs-target="#reviews" role="tab" aria-selected="false">Đánh giá</a>
                                </li>
                            </ul>
                            <div class="tab-content pb-5 border-bottom" id="product-tab-content">
                                <div class="tab-pane fade show active" id="description" role="tabpanel">
                                    <p class="m-0" th:text="${product.description}">There are many variations of passages of Lorem Ipsum available,
                                        but the majority have suffered alteration in some form, by injected humour,
                                        or randomised words which don't look even slightly believable. If you are
                                        going to use a passage of Lorem Ipsum, you need to be sure there isn't
                                        anything embarrassing hidden in the middle of text. All the Lorem Ipsum
                                        generators on the Internet tend to repeat predefined chunks as necessary.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="additional-information" role="tabpanel">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-0">
                                            <tbody>
                                            <tr class="text-body" th:each= "entry: ${additionalInfo}">
                                                <th class="text-dark" th:text=${entry.key}>Color</th>
                                                <td th:text=${entry.value}>Blue, Green, Red</td>
                                            </tr>
                                            <!-- <tr class="text-body">
                                               <th class="text-dark">Size</th>
                                               <td>L, M, S</td>
                                            </tr>
                                            <tr class="text-body">
                                               <th class="text-dark">Weight</th>
                                               <td>50gm, 100gm</td>
                                            </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <h4 class="mb-4" th:text="'Reviews for '+${product.name}">Reviews For Hand Sanitizer Bottle</h4>
                                    <div class="product-review-list" th:each="review: ${reviews}">
                                        <ul class="list-inline m-0 p-0">
                                            <li class="pb-5 mb-5 border-bottom">
                                                <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-start gap-5">
                                                    <div class="user-image flex-shrink-0">
                                                        <img src="/frontend/assets/images/general/avatar.png"
                                                             alt="user-image" class="img-fluid" style="width: 64px; height: 64px;" th:src="@{${review.patientImageUrl}}">
                                                    </div>
                                                    <div class="about-user">
                                                        <div class="d-flex align-items-center flex-wrap gap-2">
                                                            <h5 class="mb-0" th:text="${review.patientFullName}">Jack Stark</h5>
                                                            <span class="text-uppercase letter-spacing-3 small fst-italic">
                                    <i class="fas fa-minus fa-xs"></i> march 2,
                                    2022</span>
                                                            <div class="lh-1">
                                                                <div class="ratting">
                                                                    <!-- yellow stars -->
                                                                    <span th:if="${review.rating > 0}" th:each="i : ${#numbers.sequence(1, review.rating)}">
                                       	  <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24" fill="none">
                                             <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z" fill="#FFD329"/>
                                          </svg>
                                       </span>
                                                                    <!-- no stars -->
                                                                    <span th:each="i : ${#numbers.sequence(1, 5 - (review.rating != null ? review.rating : 0))}">
                                         <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24" fill="none">
                                             <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z" stroke="#FFD329" stroke-linecap="round" stroke-linejoin="round"/>
                                          </svg>
                                       </span>


                                                                </div>                                    </div>
                                                        </div>
                                                        <p class="mt-2 mb-0" th:text="${review.content}">
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-padding-top px-0">
                        <div class="mb-5">
                            <h2 class="text-center">Sản phẩm liên quan</h2>
                        </div>
                        <div class="row">

                            <div class="col-lg-3 col-sm-6" th:each="product : ${relatedProducts}">
                                <div class="iq-product-box position-relative animate:hover-media">
                                    <div class="iq-inner-box">
                                        <a href="shop-detail.html"></a>
                                        <div class="iq-product-image position-relative">
                                            <div class="animate:hover-media-wrap">
                                                <img src="/frontend/assets/images//shop/product-5.webp" alt="icon"
                                                     class="img-fluid hover-media" loading="lazy" th:src="@{${product.imageUrl}}" th:alt="${product.name}">
                                            </div>
                                            <div class="iq-button-holder d-inline-block">
                                                <ul class="list-inline d-flex align-items-center gap-5 m-0 bg-white py-3 px-5">
                                                    <li class="quick-view">
                                                        <a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#woosq-popup">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 20 17"
                                                                 fill="none">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                      d="M13.1614 8.05311C13.1614 9.79911 11.7454 11.2141 9.99938 11.2141C8.25338 11.2141 6.83838 9.79911 6.83838 8.05311C6.83838 6.30611 8.25338 4.89111 9.99938 4.89111C11.7454 4.89111 13.1614 6.30611 13.1614 8.05311Z"
                                                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                                      stroke-linejoin="round" />
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                      d="M9.998 15.3549C13.806 15.3549 17.289 12.6169 19.25 8.05292C17.289 3.48892 13.806 0.750916 9.998 0.750916H10.002C6.194 0.750916 2.711 3.48892 0.75 8.05292C2.711 12.6169 6.194 15.3549 10.002 15.3549H9.998Z"
                                                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                                      stroke-linejoin="round" />
                                                            </svg>
                                                        </a>
                                                    </li>
                                                    <li class="wish-list">
                                                        <a href="#" class="wishlist-btn">
                                    <span class="btn-inner">
                                       <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20"
                                            fill="none">
                                          <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.87187 9.59832C0.798865 6.24832 2.05287 2.41932 5.56986 1.28632C7.41986 0.689322 9.46186 1.04132 10.9999 2.19832C12.4549 1.07332 14.5719 0.693322 16.4199 1.28632C19.9369 2.41932 21.1989 6.24832 20.1269 9.59832C18.4569 14.9083 10.9999 18.9983 10.9999 18.9983C10.9999 18.9983 3.59787 14.9703 1.87187 9.59832Z"
                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                          <path d="M15 4.70001C16.07 5.04601 16.826 6.00101 16.917 7.12201"
                                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                       </svg>
                                    </span>
                                                        </a>
                                                    </li>
                                                    <li class="add-to-cart">
                                                        <form method="post" th:action="@{/cart/add}">
                                                            <input name="productId" th:value="${product.id}"
                                                                   type="hidden"/>
                                                            <input name="quantity" type="hidden" value="1"/>
                                                            <button class="btn btn-link p-0 border-0" type="submit">
                                                                <svg fill="none" height="21"
                                                                     viewBox="0 0 20 21" width="22"
                                                                     xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M0.750122 1.24988L2.83012 1.60988L3.79312 13.0829C3.87012 14.0199 4.65312 14.7389 5.59312 14.7359H16.5021C17.3991 14.7379 18.1601 14.0779 18.2871 13.1899L19.2361 6.63188C19.3421 5.89888 18.8331 5.21888 18.1011 5.11288C18.0371 5.10388 3.16412 5.09888 3.16412 5.09888"
                                                                          stroke="currentColor"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round"
                                                                          stroke-width="1.5"/>
                                                                    <path d="M12.1251 8.7948H14.8981"
                                                                          stroke="currentColor"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round"
                                                                          stroke-width="1.5"/>
                                                                    <path clip-rule="evenodd"
                                                                          d="M5.15447 18.2025C5.45547 18.2025 5.69847 18.4465 5.69847 18.7465C5.69847 19.0475 5.45547 19.2915 5.15447 19.2915C4.85347 19.2915 4.61047 19.0475 4.61047 18.7465C4.61047 18.4465 4.85347 18.2025 5.15447 18.2025Z"
                                                                          fill="currentColor"
                                                                          fill-rule="evenodd" stroke="currentColor"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round"
                                                                          stroke-width="1.5"/>
                                                                    <path clip-rule="evenodd"
                                                                          d="M16.4347 18.2025C16.7357 18.2025 16.9797 18.4465 16.9797 18.7465C16.9797 19.0475 16.7357 19.2915 16.4347 19.2915C16.1337 19.2915 15.8907 19.0475 15.8907 18.7465C15.8907 18.4465 16.1337 18.2025 16.4347 18.2025Z"
                                                                          fill="currentColor"
                                                                          fill-rule="evenodd" stroke="currentColor"
                                                                          stroke-linecap="round"
                                                                          stroke-linejoin="round"
                                                                          stroke-width="1.5"/>
                                                                </svg>
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                            <span class="iq-on-new badge bg-primary" th:text="${product.type}">New</span>
                                        </div>
                                        <div class="product-caption text-center mt-3">
                                            <span class="iq-category" th:text="${product.type}">Medical Equipment</span>
                                            <h5 class="product-title mt-1 mb-2">
                                                <a href="./product-standard.html" th:href="@{/product-standard/{id}(id=${product.id})}" th:text="${product.name}">Stethoscope</a>
                                            </h5>
                                            <h6 class="price-value fw-semibold mb-2" th:text="${product.price}+'₫'">
                                                $72
                                            </h6>
                                            <div class="ratting">
                                                <div class="ratting">
                                                    <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z" fill="#FFD329"/>
                                                    </svg>
                                                    <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z" fill="#FFD329"/>
                                                    </svg>
                                                    <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z" fill="#FFD329"/>
                                                    </svg>
                                                    <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z" fill="#FFD329"/>
                                                    </svg>
                                                    <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24" fill="none">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z" fill="#FFD329"/>
                                                    </svg>
                                                </div>         </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>>

    </main>
    <!-- Wrapper End -->

    <!-- setting -->
    <div class="rtl-box">
        <a class="btn btn-icon btn-setting bg-primary" id="settingbutton" data-bs-toggle="offcanvas"
            data-bs-target="#live-customizer" role="button" aria-controls="live-customizer">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.875em" height="1.875em" viewBox="0 0 20 20" fill="white">
                <path fill-rule="evenodd"
                    d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                    clip-rule="evenodd" />
            </svg>
        </a>
        <div class="offcanvas offcanvas-end live-customizer on-rtl end" tabindex="-1" id="live-customizer"
            data-bs-scroll="true" data-bs-backdrop="false" aria-labelledby="live-customizer-label" aria-modal="true"
            role="dialog">
            <div class="offcanvas-header gap-3 pb-2">
                <div class="d-flex align-items-center">
                    <h5 class="offcanvas-title" id="live-customizer-label">Language Mode</h5>
                </div>
                <div class="d-flex gap-1 align-items-center">
                    <button class="btn btn-icon text-primary border-0" data-reset="settings" data-bs-toggle="tooltip"
                        data-bs-placement="left" aria-label="Reset All Settings"
                        data-bs-original-title="Reset All Settings">
                        <span class="btn-inner">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                    </button>
                    <button type="button" class="btn btn-icon btn-close px-0 shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="offcanvas-body pt-0">
                <div class="modes row row-cols-2 gx-2">
                    <div class="col">
                        <div data-setting="attribute" class="text-center w-100">
                            <input type="radio" value="ltr" class="btn-check" name="theme_scheme_direction" data-prop="dir"
                                id="theme-scheme-direction-ltr" checked>
                            <label class="btn dir-btn cutomizer-button w-100" for="theme-scheme-direction-ltr">
                                LTR
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div data-setting="attribute" class="text-center w-100">
                            <input type="radio" value="rtl" class="btn-check" name="theme_scheme_direction" data-prop="dir"
                                id="theme-scheme-direction-rtl">
                            <label class="btn dir-btn cutomizer-button w-100" for="theme-scheme-direction-rtl">
                                RTL
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    <!-- setting -->

    <!-- Back To Top -->
      <div id="back-to-top" style="display: none;">
         <a class="p-0 btn btn-sm position-fixed top border-0 text-white" id="top" href="#top">
            <svg width="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M5 15.5L12 8.5L19 15.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
            </svg>
         </a>
      </div>
    <!-- Back To Top -->
    
    <!-- Library Bundle Script -->
    <script src="/frontend/assets/js/core/libs.min.js"></script>
    <!-- Plugin Scripts -->
    
    <!-- Slider-tab Script -->
    <script src="/frontend/assets/js/plugins/slider-tabs.js"></script>
    
    <!-- fslightbox Script -->
    <script src="/frontend/assets/js/plugins/fslightbox.js" defer></script>
    
    <!-- Sweet-alert Script -->
    <script src="/frontend/assets/vendor/sweetalert2/dist/sweetalert2.min.js" async></script>
    <script src="/frontend/assets/js/plugins/sweet-alert.js" defer></script>
    
    
    
    
    <!-- Lodash Utility -->
    <script src="/frontend/assets/vendor/lodash/lodash.min.js"></script>
    <!-- Utilities Functions -->
    <script src="/frontend/assets/js/iqonic-script/utility.min.js"></script>
    <!-- Settings Script -->
    <script src="/frontend/assets/js/iqonic-script/setting.min.js"></script>
    <!-- Settings Init Script -->
    <script src="/frontend/assets/js/iqonic-script/setting-init.js"></script>
    <!-- External Library Bundle Script -->
    <script src="/frontend/assets/js/core/external.min.js"></script>
    <!-- Kivicare Script -->
    <script src="/frontend/assets/js/kivicare.js?v=1.4.1" defer></script>
    <script src="/frontend/assets/js/kivicare-advance.js?v=1.4.1" defer></script>
    <!-- Kivicare Pages Script -->
    <script src="/frontend/assets/js/slider.js" defer></script>
    <script src="/frontend/assets/js/scroll-text.js" defer></script>  </body>
</html>
