<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Input Table</title>

</head>
<body>
<form th:action="@{/user/login}" method="post">
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" name="username" /></td>
            <td><input type="text" name="password" /></td>
        </tr>
        </tbody>
    </table>
    <button type="submit">Submit</button>
</form>
</body>
</html>
